.menu__links {
  color: #d0cbf0;
}

.menu__links:hover {
  cursor: pointer;
}

a.selected-link {
  color: white;
}

@media (min-width: 768px) {
  .menu__link-container {
    display: flex;
    padding-left: 3.125em;
    gap: 0.5em;
  }
}
