:root {
  --top-nav-height: 66px;
}

.top-nav {
  height: var(--top-nav-height);
  background-color: white;
  display: flex;
  position: sticky;
  align-items: center;
  padding: 0 1.5em;
  overflow: hidden;
  top: 0;
  z-index: 2;
}

.searchUser {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.user {
  display: none;
}

@media (min-width: 768px) {
  .top-nav {
    padding: 0 4.625em;
  }

  .company-logo {
    width: var(--sidebar);
  }

  .searchUser {
    justify-content: space-between;
  }

  .user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: flex-end;
    gap: 1.5em;
  }

  .hamburger {
    display: none;
  }
}
